body {
  background-image: linear-gradient(to top, #fff1eb 0%, #2ea0b4 100%);
  
}


#searchTag{
  width: 25%;
  padding-right: 10px;
}
.markerInfoBox {
  font-size: 40px;
  font-family: 'Caveat', cursive;
}
.title {
  display: inline-block; 
  position: relative;
  left: 500px;
  font-family: 'Caveat', cursive;
  font-size: 50px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 10px, 10px, 10px, 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: 'Caveat', cursive;
  font-size: 15px;

}

label {
  font-family: 'Caveat', cursive;
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 20px;

}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button{
  width: 10%;
}

.form{
  

}


.centerArea{
  display: flex;

}

.mapDisplay{
  display: inline-block;
}
.infoBox{
  display: inline-block;
  width: 100vw;
}
/* .testing{
  border: 10px solid transparent;
} */